@page "/produto"
@inject IIndexedDbFactory DbFactory
@inject IProdutoRepository ProdutoRepository

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Produtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricão</th>
                <th>Preco</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Produtos)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.preco</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<BlazorCliente_IndexDb.Entities.Produto> Produtos;

    protected override async Task OnInitializedAsync()
    {     
        //Remove
        await ProdutoRepository.Delete(10);

        //Update
        var produtoUpdate = new Produto { Id = 11, Descricao = "Anderson Teste", preco = "0" };
        await ProdutoRepository.Update(produtoUpdate);

        //Listar Tuto
        Produtos = await ProdutoRepository.GetAll();

        //Selecionar
        var produto = await ProdutoRepository.Get(21);

        Console.WriteLine(produto);
    }
}
